<div class="sidebar-container">
  <div class="sidebar">
    <a routerLink="/dashboard">
      <span class="icon"><i class="fas fa-home"></i></span>
      <span class="text">Principal</span>
    </a>
    <a (click)="irAPerfil()">
      <span class="icon"><i class="fa-solid fa-user"></i></span>
      <span class="text">Perfil</span>
    </a>
    <a (click)="irTiendaPuntos()">
      <span class="icon"><i class="fa-solid fa-shop"></i></span>
      <span class="text">Tienda de Puntos</span>
    </a>
    <a routerLink="/historial">
      <span class="icon"><i class="fa-solid fa-history"></i></span>
      <span class="text">Historial</span>
    </a>
    <a (click)="irAnuncios()">
      <span class="icon"><i class="fa-solid fa-video"></i></span>
      <span class="text">Ver Anuncios</span>
    </a>
    <a (click)="logout()">
      <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
      <span class="text">Cerrar Sesión</span>
    </a>
  </div>

  <div class="content">
    <div class="imagen-logo-container">
      <img class="imagen-logo" src="assets/images/logo.jpeg" alt="Charles Casino" />
    </div>

    <div class="card-container">
      <div class="card" (click)="irABlackJack()">
        <img src="assets/images/blackjack.png" alt="Black Jack" />
        <div class="title">Black Jack</div>
      </div>

      <div class="card" (click)="irRuleta()">
        <img src="assets/images/ruleta.jpg" alt="Ruleta" />
        <div class="title">RULETA</div>
      </div>

      <div class="card" (click)="irTragaperras()">
        <img src="assets/images/tragaperras.jpg" alt="Tragaperras" />
        <div class="title">TRAGAPERRAS</div>
      </div>
    </div>
  </div>
</div>