<div class="sidebar-container">
  <div class="sidebar">
    <a routerLink="/dashboard">
      <span class="icon"><i class="fas fa-home"></i></span>
      <span class="text">Principal</span>
    </a>
    <a (click)="irAPerfil()">
      <span class="icon"><i class="fa-solid fa-user"></i></span>
      <span class="text">Perfil</span>
    </a>
    
    <a routerLink="/historial">
      <span class="icon"><i class="fa-solid fa-history"></i></span>
      <span class="text">Historial</span>
    </a>
    <a (click)="logout()">
      <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
      <span class="text">Cerrar Sesión</span>
    </a>
  </div>

  <div class="content">
    <div class="imagen-logo-container">
      <img class="imagen-logo" src="assets/images/logo.jpeg" alt="Charles Casino" />
    </div>

    <div class="card-container">
      <div class="card" (click)=irABlackJack()>
        <img src="assets/images/blackjack.png" alt="Black Jack" />
        <div class="title">Black Jack</div>
      </div>
    
      

      <div class="card" routerLink="/ruleta">
        <img src="assets/images/ruleta.jpeg" alt="Ruleta" />
        <div class="title">Ruleta</div>
      </div>
    </div>
  </div>
</div>