#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #095324;
    height: 100%;
    padding: 20px;
    color: #fff;
    gap: 20px;
  }

  .roulette-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 20px;
  }
  
  .wheel-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
  }
  
  .ruleta {
    width: 500px; /* Ajusta según el tamaño de tu imagen */
    height: auto;
    display: block;
  }
  
  .arrow {
    position: absolute;
    top: -10px; /* Ajusta según el tamaño de tu flecha */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top:80px solid red;
    z-index: 10;
  }
  
  .spin-button {
    padding: 12px 24px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .spin-button:hover {
    background-color: #e64a19;
  }
  

.rotate-animation {
    animation: rotate 2s linear ;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotating-image {
    transition: transform 3s ease-out;
    /* Ajusta el tiempo (3s) según necesites */
    transform-origin: center center;
}


/* Tablero */
.boards {
  margin-top: 20px;
  padding: 30px;
  background-color:  #5c0e0ec4;
  /* perspective: 2000px; Perspectiva para el efecto 3D */
  border-radius: 8px;
  width: 100%;
  text-align: center;
}


table {
  border-collapse: separate; /* Usamos separate para poder aplicar border-spacing */
  width: 80%;
  margin: 50px auto;
  text-align: center;
  font-family: 'Times New Roman', serif;
  user-select: none;
  border-spacing: 5px; /* Espacio entre celdas */
  transform: rotateX(25deg); /* Rotación para el efecto 3D */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
}

th, td {
  border: 1px solid #333;
  padding: 15px;
  font-size: 2.2em;
  width: 2cm;
  height: 1.5cm;
  position: relative;
  background: linear-gradient(135deg, #e0e0e0, #f8f8f8); /* Gradiente suave */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra interna para efecto de relieve */
}

.verde {
  background-color: green;
  color: white;
  font-weight: bold;
  background: linear-gradient(135deg, #008000, #006400); /* Gradiente verde */
}

.to {
  color: white;
  background: #5C0E0E;
  font-weight: bold;
  font-size: 1.2em;
  
}

.rojo {
  background-color: red;
  color: white;
  font-weight: bold;
  background: linear-gradient(135deg, #ff0000, #8b0000); /* Gradiente rojo */
}

.negro {
  background-color: black;
  color: white;
  font-weight: bold;
  background: linear-gradient(135deg, #333, #000); /* Gradiente negro */
}

.verde_table2 {
  background-color: #5C0E0E;;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  background: #5C0E0E; /* Gradiente verde */
}

.th_class {
  text-align: center;
  font-weight: bold;
}

.td_class {
  text-align: center;
}

.tabla-celda {
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.table2 {
  border-collapse: collapse;
  margin-top: -1.7cm;
  border-spacing: 5px; /* Espacio entre celdas */
  transform: rotateX(25deg); /* Rotación para el efecto 3D */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
  background: #5C0E0E;;
  border: 5px solid white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #e0e0e0;
}

table table { /* Subtablas */
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

td span {
  display: inline-block;
/*  transform: rotate(-90deg);*/
}