<div class="sidebar-container">
  <div class="sidebar">
    <a (click)="goToDashboard()">
      <span class="icon"><i class="fas fa-home"></i></span>
      <span class="text">Principal</span>
    </a>
    <a (click)="irAPerfil()">
      <span class="icon"><i class="fa-solid fa-user"></i></span>
      <span class="text">Perfil</span>
    </a>
    <a (click)="irTiendaPuntos()">
      <span class="icon"><i class="fa-solid fa-shop"></i></span>
      <span class="text">Tienda de Puntos</span>
    </a>
    <a routerLink="/historial">
      <span class="icon"><i class="fa-solid fa-history"></i></span>
      <span class="text">Historial</span>
    </a>
    <a (click)="irAnuncios()">
      <span class="icon"><i class="fa-solid fa-video"></i></span>
      <span class="text">Ver Anuncios</span>
    </a>
    <a (click)="logout()">
      <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
      <span class="text">Cerrar Sesión</span>
    </a>
  </div>

  <div class="content">
    <div class="card-container">
      <h2>🎰 Tragamonedas 🎰</h2>
      <p class="puntos-usuario">Tus puntos: {{ puntosActuales }}</p>

      <div class="slot-machine">
        <div class="slot-container" *ngFor="let reel of reels; let i = index">
          <div class="slot-reel" [ngStyle]="{'transform': 'translateY(' + reel.positionY + 'px)', 
                         'transition': reel.transition}">
          </div>
        </div>
      </div>
      <button (click)="spin()">GIRAR (-10 puntos)</button>
    </div>
  </div>


</div>