.slot-machine {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.slot-container {
  width: 100px; /* Aumentar tamaño del contenedor */
  height: 100px; /* Ajustar altura para mayor visibilidad */
  overflow: hidden;
  border: 2px solid black;
  padding: auto;
}
.slot-reel {
  width: calc(61*10);
  height: calc(38px * 8 * 10);
  background: url('../../../../assets/tragaperras/fruits.png') repeat-y;
  background-position: center top;
}
button {
  display: block;
  margin: 10px auto;
}

.tragaperras-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-slot {
  color: gold;
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
  margin-bottom: 20px;
}

.slot-machine {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  background: linear-gradient(to bottom, #222, #444);
  border: 4px solid #FFBF00;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

.slot-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 2px solid #FFBF00;
  border-radius: 10px;
  background-color: #000;
}

.spin-button {
  margin-top: 30px;
  background: linear-gradient(to right, #FFBF00, #3498db);
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
  transition: transform 0.2s ease;
}

.spin-button:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #3498db, #FFBF00);
}

/* Contenedor sidebar y contenido */
.sidebar-container {
  display: flex;
  min-height: 100vh;
  background-color: #3B3B3B; /* Asegura fondo uniforme en todo */
}

.sidebar {
  width: 75px;
  background-color: #333;
  transition: width 0.3s ease;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

.sidebar:hover {
  width: 250px;
}

/* Enlaces del sidebar */
.sidebar a {
  display: flex;
  align-items: center;
  color: white;
  padding: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
}

/* Íconos del sidebar */
.sidebar .icon {
  min-width: 50px;
  text-align: center;
  font-size: 24px;
  color: white;
  margin-right: 10px;
}

.sidebar a .text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.sidebar:hover a .text {
  visibility: visible;
  opacity: 1;
}