<div class="register-container">
  <div class="imagen-container">
    <img class="imagen" src="assets/images/logo.jpeg" alt="Logo">
  </div>
  <h2>¡Bienvenido a Charles Casino!</h2>
  <p>Crea tu cuenta para disfrutar de todos los juegos.</p>

  <!-- Formulario de registro -->
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Usuario -->
    <div class="form-group">
      <span class="icon"><i class="fa-solid fa-user"></i></span>
      <input formControlName="username" type="text" placeholder="Usuario" required />
    </div>

    <!-- Correo -->
    <div class="form-group">
      <span class="icon"><i class="fa-solid fa-envelope"></i></span>
      <input formControlName="correo" type="email" placeholder="Correo electrónico" required />
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <span class="icon"><i class="fa-solid fa-lock"></i></span>
      <input formControlName="password" type="password" placeholder="Contraseña" required />
    </div>

    <!-- Confirmar Contraseña -->
    <div class="form-group">
      <span class="icon"><i class="fa-solid fa-lock"></i></span>
      <input formControlName="confirmPassword" type="password" placeholder="Confirmar Contraseña" required />
    </div>

    <!-- Botón de Registro -->
    <div class="form-actions">
      <button type="submit" class="btn" [disabled]="registerForm.invalid">Registrarse</button>
    </div>

    <!-- Mensaje de Error -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>

  <!-- Pie de Página -->
  <div class="register-action">
    <a routerLink="/login" class="register-link">¿Ya tienes cuenta? Inicia sesión</a>
  </div>
</div>
