body {
    background-color: #3B3B3B;
    font-family: 'Oswald', sans-serif;
  }
  
  .register-container {
    background-color: #3B3B3B;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
  }
  
  .imagen-container {
    border: 4px solid #FFBF00;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  
  .register-container h2 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    color: gold;
    margin-top: 20px;
  }
  
  .register-container p {
    font-size: 16px;
    color: gold;
    margin-bottom: 20px;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 15px;
  }
  
  .form-group input {
    width: 80%;
    padding: 10px 10px 10px 35px;
    border: 2px solid #FFBF00;
    border-radius: 8px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
  }
  
  .form-group .icon {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: gold;
  }
  
  .form-actions .btn {
    background: linear-gradient(45deg, #FFBF00, #007bff);
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: fit-content;
  }
  
  .form-actions .btn:hover {
    transform: scale(1.05);
  }
  
  .register-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .register-link:hover {
    color: #FFBF00;
  }
  
  .error-message {
    color: #ff6666;
    margin-top: 15px;
  }
  