<div class="sidebar-container">
  <div class="sidebar">
    <a (click)="goToDashboard()">
      <span class="icon"><i class="fas fa-home"></i></span>
      <span class="text">Principal</span>
    </a>
    <a (click)="goToPerfil()">
      <span class="icon"><i class="fa-solid fa-user"></i></span>
      <span class="text">Perfil</span>
    </a>
    <a (click)="goToHistorial()">
      <span class="icon"><i class="fa-solid fa-history"></i></span>
      <span class="text">Historial</span>
    </a>
    <a (click)="logout()">
      <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
      <span class="text">Cerrar Sesión</span>
    </a>
  </div>

  <div class="content">
    <!-- Aquí va el contenido específico del perfil -->
    <div class="perfil-container">
      <img src="assets/images/perfil.jpg" alt="Foto de perfil" class="perfil-img" />
      <div class="perfil-info">
        <h2>Usuario de Ejemplo</h2>
        <p>usuario</p>
        <a href="#" class="boton-editar">Editar Perfil</a>
      </div>
    </div>
  </div>
</div>
```