<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="styles/styles.css">
<meta charset="UTF-8">

<body>

  <div class="login-container">
    <div class="imagen-container">
      <img [src]="LogoURL" alt="Logo">
    </div>
    <h2>¡Bienvenido de nuevo a Charles Casino!</h2>
    <p>Inicia sesión con tu nombre de Usuario</p>
  
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Usuario -->
      <div class="input-field">
        <i class="material-icons">account_circle</i>
        <input id="username" type="text" formControlName="username" placeholder="Usuario" required />
      </div>
  
      <!-- Contraseña -->
      <div class="input-field">
        <i class="material-icons">lock</i>
        <input id="password" type="password" formControlName="password" placeholder="Contraseña" required />
      </div>
  
      <!-- Botón de Ingreso -->
      <button type="submit" class="btn waves-effect waves-light" [disabled]="loginForm.invalid">
        <span>INGRESAR</span>
        <i class="material-icons right">send</i>
      </button>
  
      <!-- Mensaje de Error -->
      <p *ngIf="errorMessage" class="red-text">{{ errorMessage }}</p>
    </form>
  
    <!-- Pie de Página -->
    <div class="card-action center-align">
      <a (click)="irARegistro()" class="register-link">¿No tienes cuenta? Regístrate</a>
    </div>

  </div>
  
</body>

