<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blackjack</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="blackjack.component.css">

</head>
<body>
    
    <div class="container">
      <h2>Blackjack</h2>
    
      <div class="buttons">
        <button (click)="pedirCarta()" [disabled]="juegoTerminado">Pedir Carta</button>
        <button (click)="detener()" [disabled]="juegoTerminado">Detener</button>
        <button (click)="nuevoJuego()">Nuevo Juego</button>
      </div>
    
      <h3>Jugador - {{ puntosJugador }}</h3>
      <div class="cartas">
        <img *ngFor="let carta of cartasJugador" [src]="'/frontend/src/assets/cartas/' + carta + '.png'" class="carta">
      </div>
    
      <h3>Computadora - {{ puntosComputadora }}</h3>
      <div class="cartas">
        <img *ngFor="let carta of cartasComputadora" [src]="'/frontend/src/assets/cartas/' + carta + '.png'" class="carta">
      </div>
    </div>
  


    <script src="/frontend/src/assets/js/underscore-min.js"></script>
    <script src="/frontend/src/assets/js/juego.js"></script>

</body>
</html>